@model IEnumerable<Noticias.Application.Dto.NoticiaDto>


@{
    ViewData["Title"] = "Noticias";
}

<h1>Noticias</h1>

<p>
    <a asp-action="Create"> Publicar Nova Noticia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Conteudo
            </th>
            <th>
                Categoria
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conteudo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    <a class="btn btn-outline-secondary" id="noticiaId" asp-controller="Noticia"
                   asp-action="Edit" asp-route-id="@item.NoticiaId">Editar</a>

                    <a class="btn btn-outline-info" id="noticiaId" asp-controller="Noticia"
                   asp-action="Details" asp-route-id="@item.NoticiaId">Detalhes</a>

                    <a class="btn btn-outline-danger" id="noticiaId" asp-controller="Noticia"
                   asp-action="Delete" asp-route-id="@item.NoticiaId">Deletar</a>

                </td>
            </tr>
        }
    </tbody>
</table>